$main-content-padding: 80px 0;

$accent-bg-color: #B0D35D;
$accent-border-color: #7C9C4D;
$background-color: #FFFFFF;
$header-title-color: rgba(0, 0, 0, 0.8);
$section-title-color: rgba(0, 0, 0, 0.6);
